# Rename `.env.local.example` to `.env.local` and update the following:
# Check gitignore to ensure your `.env.local` file is not committed or push to repo
 
# keypair
# Replace "[777,-----------12]" with your actual full Solana wallet private key
NEXT_PUBLIC_GAME_WALLET_PRIVATE_KEY=[777,-----------,12]
